@import url('carousel.css');
body {
    background: url("../assets/img/architecture-buildings-business-city-374870.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main>.container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
    padding-bottom: -40px;
    background: #e9ecef;
    border-top: 1px solid #4444;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

#aboutUs {
    background: #FFF;
    padding-bottom: 10px;
    padding-top: 10px;
}

#techs {
    background: #FFF;
}

.conteudo {
    background: #FFF;
}

.card {
    height: 100%;
}

.social img {
    height: 20px;
}